<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JO UNI Guide</title>

    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>

    <header>
        <div class="logo">JO-UNI-Guide</div>
        <nav>
            <a href="/">Home</a>
            <a href="#">Universities</a>
            <a href="#">Majors</a>
            <a href="#">About</a>
            <a href="/Account/Login">Login</a>
        </nav>
    </header>

    @RenderBody()

</body>
</html>