@model JO_UNI_Guide.Models.Faculty
@{
    ViewData["Title"] = "Edit Faculty";
    Layout = "_AdminLayout";
}
<div class="form-card">
    <h2 class="page-title mb-4">Edit Faculty</h2>
    <form method="post">
        <input type="hidden" asp-for="Faculty_ID" />
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="University_ID"></label>
            <select asp-for="University_ID"
                    asp-items="@(ViewData["University_ID"] as SelectList)"
                    class="form-control">
                <option value="">-- Select University --</option>
            </select>
            <span asp-validation-for="University_ID" class="text-danger"></span>
        </div>
        <button class="btn btn-main">Update</button>
    </form>
</div>