@model JO_UNI_Guide.Models.University

<div class="container mt-5">

    <h2 class="section-title">Add University</h2>

    <form method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label>Name</label>
            <input asp-for="Name" class="form-control login-input" />
        </div>

        <div class="mb-3">
            <label>Location</label>
            <input asp-for="Location" class="form-control login-input" />
        </div>

        <div class="mb-3">
            <label>Rank</label>
            <input asp-for="Rank_QS" class="form-control login-input" />
        </div>

        <div class="mb-3">
            <label>Logo</label>
            <input type="file" name="logoFile" class="form-control" />
        </div>

        <button class="btn btn-primary btn-login">Save</button>

    </form>

</div>
