@model JO_UNI_Guide.Models.University

<div class="container mt-5 text-center">

    <h2 class="section-title text-danger">Delete University</h2>

    <p>Are you sure you want to delete this?</p>

    <img src="@Model.Logo" class="img-thumbnail mb-3" width="120" />

    <form method="post">
        <input type="hidden" asp-for="University_ID" />

        <button class="btn btn-danger">Delete</button>
        <a href="/University" class="btn btn-secondary">Cancel</a>
    </form>

</div>