@model JO_UNI_Guide.Models.University

<div class="container mt-5 text-center">

    <h2 class="section-title">@Model.Name</h2>

    <img src="@Model.Logo" class="img-fluid mb-3" style="max-width:200px;" />

    <p><strong>Location:</strong> @Model.Location</p>
    <p><strong>Rank:</strong> @Model.Rank_QS</p>

</div>