
@{

    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <h1>Find Your Future Major 🎓</h1>
    <p>Explore universities and majors in Jordan </p>
    <button>Get Started</button>
</section>
<section class="cards">
    <h2>Top Universities</h2>

    <div class="card-container">
        <div class="card">University of Jordan</div>
        <div class="card">JUST</div>
        <div class="card">Hashemite University</div>
    </div>
</section>