@model JO_UNI_Guide.Models.Course
@{
    ViewData["Title"] = "Edit Course";
    Layout = "_AdminLayout";
}

<h2 class="page-title">Edit Course</h2>

<div class="form-card">
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Course_ID" />
        <div class="mb-3">
            <label asp-for="Course_Name" class="form-label"></label>
            <input asp-for="Course_Name" class="form-control" />
            <span asp-validation-for="Course_Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Details" class="form-label"></label>
            <textarea asp-for="Details" class="form-control"></textarea>
            <span asp-validation-for="Details" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Department_ID" class="form-label"></label>
            <select asp-for="Department_ID" asp-items="@(ViewData["Department_ID"] as SelectList)" class="form-control"></select>
            <span asp-validation-for="Department_ID" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-main">Save</button>
        <a asp-action="Index" class="btn">Back to List</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}